<form class="reply <%= SETTINGS_PANEL_CLASSNAME %>">
  <div class="theader">Настройки</div>
  <div class="<%= SETTINGS_PANEL_CONTENT_CLASSNAME %>">
    <div>
      <label><input type="checkbox" name="disable_quick_reply"> Отключить быстрый ответ</label>
    </div>
    <div>
      <label><input type="checkbox" name="disable_hide_threads"> Отключить скрытие тредов</label>
    </div>
    <div>
      <label><input type="checkbox" name="disable_expand_images"> Отключить разворот картинок</label>
    </div>
    <div>
      <label><input type="checkbox" name="disable_video_player"> Отключить плеер видео</label>
    </div>
    <div>
      <label><input type="checkbox" name="post_btns_color_en"> Цвет кнопок постов <input type="color" name="post_btns_color"></label>
    </div>
  </div>
</form>
