.<%= BTN_CLASSNAME %> {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: text-top;
}

.<%= BTN_CLASSNAME %> > svg {
  width: 16px;
  height: 16px;
}

.<%= BTN_CLASSNAME %> use {
  pointer-events: none;
}

.<%= BTN_CLASSNAME %> {
  margin-left: 0.4em;
  cursor: pointer;
}

#<%= CONTAINER_ID %> .rules {
  display: none;
}

#<%= ICONS_CONTAINER_ID %> {
  display: none;
}

.<%= FORM_CONTAINER_CLASSNAME %> .theader {
  width: auto;
}

.<%= CLOSE_FORM_BTN_CLASSNAME %> {
  float: right;
  cursor: pointer;
  padding: 1px;
}

.<%= CLOSE_FORM_BTN_CLASSNAME %> svg {
  width: 16px;
  height: 16px;
  vertical-align: text-top;
}

.<%= CLOSE_FORM_BTN_CLASSNAME %> use {
  pointer-events: none;
}
