.${PLACEHOLDER_CLASSNAME} {
    pointer-events: none;
}

.${PLACEHOLDER_CLASSNAME} a {
    cursor: pointer;
    pointer-events: auto;
}

.${PLACEHOLDER_CLASSNAME}:hover + div,
.${PLACEHOLDER_CLASSNAME}:hover + div + br {
    display: block !important;
}

.${PLACEHOLDER_CLASSNAME} + div {
    display: none;
}
.${PLACEHOLDER_CLASSNAME} + div +  br {
    display: none;
}

.${HIDE_BTN_CLASSNAME} {
    margin-left: 0.2em;
    cursor: pointer;
}

.${HIDE_BTN_CLASSNAME}::after {
    content: '[✕]';
}