@media only screen and ${HANDHELD_MEDIA_QUERY} {
  a img.thumb {
    margin: 0;
    padding: 2px 20px;
  }

  a img.thumb[src*="/src/"] {
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
  }
}