.${VIDEO_PLAYER_CLASSNAME} {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 2px 20px;
  margin: 0;
}
.${HIDE_VIDEO_BTN_CLASSNAME} {
  padding: 2px 20px;
}
.${MUTE_CHECKBOX_CLASSNAME} {
  float: right;
}